/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*белый #FFFFFF*/
/* цвет текста при наведении #2196F3*/
/*жирный текст #000000*/
/*вторичный цвет фона #F5F4FA*/

:root{
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3; 
    --primary-white-color:#FFFFFF;
    --primary-button-color:#F5F4FA;
    --footer-background-color:#2F303A;
    --logo-main:#2196f3;
    --logo-header:#000000;
    --logo-footer:#FFFFFF;

}



.accent{
color: var(--accent-color)
}

.body{
background-color #FFFFFF;
color: var(--primary-text-color);

font-family: Roboto, sans-serif;
}

/*убрать маркеры*/
.list{
list-style: none;}

/*Логотип*/
.logo{
color:var(--logo-main);
font-family: Raleway;
font-size: 26px;
line-height: 1.2;
text-decoration: none;
}
.logo-head {
    color:var(--logo-header)
}

.logo-footer{
    color: var(--logo-footer);
}

/*Герой*/
.hero-title{
color:#FFFFFF ;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
}


/*site-nav and contacts*/
.site-nav .link,
.contacts .link{
color: var(--accent-color);
    
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus{
color: var(--accent-color);
}
.site-nav .current,
.contacts .current{
color: var(--primary-text-color);
}

/*Основной цвет заголовков секций*/
.section-title{
color: var(--primary-text-color);

font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}


/*ПРЕИМУЩЕСТВА*/
.features-list .title{
color: var(--primary-text-color);

font-weight: 700;
font-size: 14px;
line-height: 1.14;
}
.features-list .text{
color: var(--title-text-color);

font-size: 14px;
line-height: 1.7;
}

/*НАША КОМАНДА*/
.personal-list .title{
color: var(--primary-text-color);

font-size: 16px;
line-height: 1.18;
}
.personal-list .text{
color:var(--title-text-color);

font-size: 16px;
line-height: 1.18;
}

/*Проекти*/
.projects-list{
color:var(--primary-text-color);
}
.projects-list .title{
color:var(--primary-text-color);

font-weight: 700;
font-size: 18px;
line-height: 2;
}
.projects-list .text{
color:var(--title-text-color);

font-size: 16px;
line-height: 1.8;
}

/*button*/
.button{
color: var(--title-text-color);
background-color: var(--accent-color);

font-weight: 700;
font-size: 16px;
line-height: 1.9;
}
.button.primary{
background-color: var(--accent-color);
color: var(--primary-button-color);
}
.button.secondary{
background-color:var(--primary-button-color) ;
color: var(--accent-color);
}

/*футер*/

.footer{
background-color:var(--footer-background-color);

}
.address .text{
color: var(--primary-white-color);
text-decoration:none;
}
.address .contacts{
color: rgba(255, 255, 255, 0.6); 
text-decoration:none;   
}

.address-list .contacts:hover,
.address-list .contacts:focus {
color: var(--accent-color);
}
.address{
font-family: 'Roboto';
font-style: normal;

font-weight: 400;
font-size: 14px;
line-height: 1.7;
}